<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>酒店管理直通车</title>
    <meta name="description" content="首页">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
    <script src="../api/AmazeUI/js/jquery.min.js"></script>
    <script src="../api/Echart/dist/echarts.js"></script>
    <script src="../js/WfrmHomePage.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/resource.js"></script>
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/polyfill/rem.min.js"></script>
    <script src="assets/js/polyfill/respond.min.js"></script>
    <script src="assets/js/amazeui.legacy.js"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../api/AmazeUI/js/jquery.min.js"></script>
    <script src="../api/AmazeUI/js/amazeui.min.js"></script>
    <!--<![endif]-->
    <script src="../api/AmazeUI/js/app.js"></script>
    <style>
        .chart{
            height: 340px;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
	<div class="am-g am-text-primary">
	    <div class="am-u-sm-12">
	        <div class="am-vertical-align am-text-right" style="height: 1px;">
	            <div class="am-vertical-align-middle am-text-middle">
	                <small id='myBussDate' class="am-link-muted">
	                    数据日期:
	                    <span id="dataDate"></span>
	                </small>
	            </div>
	        </div>
	        <div class="am-vertical-align am-text-center" style="height: 100px;">
	            <div class="am-vertical-align-middle am-text-middle">
	                <div class="am-u-sm-12" style="height: 48px;">
	                    ￥<strong id="myAllYYE" class="am-text-xxxl"></strong></div>
	                <small>营业额</small>
	            </div>
	        </div>
	    </div>
	    <div class="am-u-sm-6">
	        <div id="avgRoomPrice" style="height: 98px; width: 235px;">
	        </div>
	    </div>
	    <div class="am-u-sm-6">
	        <div class="am-u-sm-12">
	            <div class="am-text-center" style="height: 98px; width: 155px;">
	                <div id="checkInPercent" style="height: 100px; width: 155px;">
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<br>
	<div class="am-u-sm-12">
	    <div class="chart" id="shouru">
	    </div>
	</div>
</body>
</html>
