<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>酒店管理直通车</title>
	    <meta name="description" content="主框架">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <script src="../api/AmazeUI/js/jquery.min.js"></script>
	    <script src="../api/Echart/dist/echarts.js"></script>	    
	    <script src="../js/WfrmMain.js"></script>
	    <script src="../js/common.js"></script>
		<script src="../js/resource.js"></script>
	    <!--[if lt IE 9]>
	    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	    <script src="assets/js/polyfill/rem.min.js"></script>
	    <script src="assets/js/polyfill/respond.min.js"></script>
	    <script src="assets/js/amazeui.legacy.js"></script>
	    <![endif]-->
	    <!--[if (gte IE 9)|!(IE)]><!-->
	    <script src="../api/AmazeUI/js/jquery.min.js"></script>
	    <script src="../api/AmazeUI/js/amazeui.min.js"></script>
	    <!--<![endif]-->
	    <script src="../api/AmazeUI/js/app.js"></script>
	    <style>
	        .chart{
	            height: 340px;
	            margin: 0px;
	            padding: 0px;
	        }
			.homePage_btn{
				cursor: pointer;
			}
    	</style>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default">
			<h1 class="am-header-title">
	    		<a class="" id="menuTitle"></a>
	  		</h1>
			<div class="am-header-left am-header-nav" id="topLeftMenu">
				<a href="#left-link" class="" onclick="onclick_btnRefresh()">
					<i class="am-icon-refresh  am-header-icon" id="btnRefresh"></i>
				</a>
                <a id="my-start" href="#phone-link" class="">
                    <i class="am-header-icon am-icon-calendar"></i>
                </a>
			</div>
		</header>
		<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
			<a href="javascript: void(0)" class="am-menu-toggle ">
				<i class="am-menu-toggle-icon am-icon-bars am-header-icon"></i>
			</a>
			<div class="am-offcanvas">
				<div class="am-offcanvas-bar">
					<ul class="am-menu-nav am-avg-sm-1">
	
						<div class="am-u-sm-12">
							<br>
								<img src="../images/logoSmall.png" alt="logo" class="am-img-thumbnail am-radius   am-center am-img-responsive">
							<p id="myShopName" class=" am-link-muted am-text-center" style="color: #ccc;"></p>
						</div>
	
						<li class="homePage_btn" onclick="onclick_btnHomePage()">
							<a class="">首页</a>
						</li>
						<li class="am-parent">
							<a href="##" class="">销售数据</a>
							<ul class="am-menu-sub am-collapse  am-avg-sm-1 ">
								<li class="homePage_btn" onclick="onclick_btnBusStatus()">
									<a class="">营业情况汇总</a>
								</li>
								<li class="homePage_btn" onclick="onclick_btnBITrend()">
									<a class="">经营指标走势</a>
								</li>
								<li class="homePage_btn" onclick="onclick_btnBICompare()">
									<a class="">经营指标对比</a>
								</li>
							</ul>
						</li>
						<li class="am-parent">
							<a href="##" class="">实时数据</a>
							<ul class="am-menu-sub am-collapse  am-avg-sm-1 ">
								<li class="homePage_btn" onclick="onclick_btnRoomStatus()">
									<a class="">实时房态</a>
								</li>
								<li class="homePage_btn" onclick="onclick_btnEmployNum()">
									<a class="">占用数</a>
								</li>
								<li class="homePage_btn" onclick="onclick_btnDetail()">
									<a class="">在住明细</a>
								</li>
							</ul>
						</li>
						<li class="" onclick="onclick_btnOrderStatus()">
							<a class="">预订情况</a>
						</li>
						<li class="" onclick="onclick_btnAbout()">
							<a class="">关于</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
        <!-- content -->
        <div class="am-g am-text-primary">
            <iframe name="displayContent" style="width: 100%;height: 670px;"></iframe>
        </div>
	</body>
</html>
