<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>酒店管理直通车</title>
	    <meta name="description" content="营收对比情况">
	    <meta name="keywords" content="index">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="renderer" content="webkit">
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
	    <link rel="icon" type="image/png" href="../api/AmazeUI/i/favicon.png">
	    <link rel="apple-touch-icon-precomposed" href="../api/AmazeUI/i/app-icon72x72@2x.png">
	    <link rel="stylesheet" href="../api/AmazeUI/css/amazeui.min.css" />
	    <link rel="stylesheet" href="../api/AmazeUI/css/admin.css">
	    <script src="../api/AmazeUI/js/jquery.min.js"></script>
	    <script src="../api/Echart/dist/echarts.js"></script>	    
	    <script src="../js/WfrmBussCompare.js"></script>
	    <script src="../js/common.js"></script>
		<script src="../js/resource.js"></script>
	    <!--[if lt IE 9]>
	    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	    <script src="assets/js/polyfill/rem.min.js"></script>
	    <script src="assets/js/polyfill/respond.min.js"></script>
	    <script src="assets/js/amazeui.legacy.js"></script>
	    <![endif]-->
	    <!--[if (gte IE 9)|!(IE)]><!-->
	    <script src="../api/AmazeUI/js/jquery.min.js"></script>
	    <script src="../api/AmazeUI/js/amazeui.min.js"></script>
	    <!--<![endif]-->
	    <script src="../api/AmazeUI/js/app.js"></script>
	    <style>
	    	li{
	    		list-style-type:none;
	    	}
	    	.bussData{
	    		color: #E59075;
	    		font-weight: 900
	    	}
	    	.dateTitle{
	    		margin: 5px 0px 5px 10px;
	    		font-size: 1.1em;
	    	}
	    </style>
	</head>
	<body>
		<div class="am-g">
			<table class="am-table">
				<thead style="display: none;">
			        <tr>
			            <th></th>
			            <th></th>
			            <th></th>
			        </tr>
			    </thead>
				<tbody id="dataContent">
					<!--<tr><strong style="margin: 5px 0px 5px 41px;font-size: 1.2em;">2016年8月</strong></tr>
					<tr>
						<td><ul style="list-style-type:none">
							<li>本月营收</li>
							<li style="color: #E59075;font-weight: 900;">467259.2</li>
						</ul></td>
						<td><ul style="list-style-type:none">
								<li>上月同期营收</li>
								<li style="color: #E59075;font-weight: 900;">448599.04</li>
								<li>百分比<strong>104.16%</strong></li>
						</ul></td>
						<td><ul style="list-style-type:none">
								<li>去年同期营收</li>
								<li style="color: #E59075;font-weight: 900;">0</li>
								<li>百分比<strong>25%</strong></li>
						</ul></td>
					</tr>-->
	            </tbody>
			</table>
		</div>
	</body>
</html>
